/* CONTAINER */
.container{
    width: 100%;
    float: left;
    padding: 5% 4%;
    text-align: center;
}

/* CABEÇALHO */

.logo{
    width: 56px;
    height: 56px;
    float: left;
    background: url('../img/logo-mobile.png') center center/56px no-repeat;
    font-size: 0;
}

/* MENU HAMBURGUER DO CABEÇALHO*/
.btn-menu{
    width: 56px; 
    height: 56px;
    float: right;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    background: linear-gradient(90deg, rgba(206,46,60,1) 16%, rgba(218,103,9,1) 75%);
    cursor: pointer;
}

/* OPÇÕES DO MENU HAMBURGUER */
.menu{
    display: none;  /* FICA INVISÍVEL ENQUANTO NÃO ESTIVER ATIVADO */
    width: 60%;
    height: 100%;
    position: fixed;
    background-color: rgba( 0, 0, 0, 0.9);
    top: 0;
    right: 0;

    & ul{
        width: 100%;
        float: left;
        text-align: center;
    }

    & li{
        padding: 2%;
        margin-bottom: 3%;
    }

    & li:first-child{
        margin-top: 20%;
    }

    & li:hover{
        background: rgba(206,46,60,1);
    }

    & a{
        font-size: 2em;
        color: #fff;
        padding: 1.5%, 3%;
    }

}

/* O X DO MENU */
.btn-close{
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 8% 8% 0 0;
    transition: all 0.3s ease-in-out;
}

.btn-close:hover{
    color: rgba(206,46,60,1);
    transform: scale(0.8);
}

/* BANNER */
.banner{
    background: url('../img/bg.jpg') no-repeat fixed;
}

.title{
    width: 100%;

    & h2{
        font-size: 2.4em;
        color: #fff;
        font-weight: 800;
    }

    & h3{
        font-size: 1.5;
        color: #fff;
        font-weight: 300;
    }
}

.buttons{
    width: 100%;
    margin-top: 2%;

    & i{
        float: right;
    }

}

/* BOTÕES DO BANNER */
.btn{
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    padding: 5%;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cadastrar{
    background-color: #fff;
    color: #130400;
}

.btn-sobre{
    margin-top: 4%;
    background-color: #130400;
    color: #fff;
}

/* SERVIÇOS */

.servico{
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 4%;
    transition: all 0.3s ease-in-out;

    & img{
        border-radius: 7px 7px 0 0;
    }
}

.servico:hover{
    transform: scale(1.05);
}

.inner{
    padding: 7%;

    & a{
        font-size: 1.5em;
        color: #130400;
        font-weight: 700;
        margin-top: 2%;
    }

    & h4{
        font-size: 1.2em;
        font-style: oblique;
    }

    & p{
        margin-top: 6%;
        color: #130400;
        line-height: 1.5em;
    }
}
/* NEWSLETTER */
.newsletter{
    background-color: #130400;

    & h2{
        font-size: 1.5em;
        font-weight: 700;
        color: #fff;
    }

    & h3{
        color: #fff;
        /* margin: 2% 0 4% 0; */
    }

    & form{
        margin-top: 2%;
    }

    & input{
        width: 80%;
        background-color: #130400;
        color: #fff;
        border: 1px solid #fff;
        padding: 5%;
        border-radius: 5px;
        margin: 3%;
    }

    & button{
        width: 70%;
        background-color: #fff;
        color: #130400;
        padding: 3%;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 3%;
    }

    & button:hover{
        background-color: rgb(151, 154, 143);
    }

}

/* RODAPÉ */
.rodape{
    background: linear-gradient(90deg, rgba(206,46,60,1) 16%, rgba(218,103,9,1) 75%);

    & a{
        font-size: 1.5em;
        color: rgba(255, 255, 255, 0.7);
        margin: 3%;
    }

    & a:hover{
        color: #36b74a;
    }

    & a:last-child{
        margin-right: 0;
    }
}

.copyright{
    margin-top: 4%;
    color: rgba(255, 255, 255, 0.7);
}
